@model PhotoBank.ViewModels.ChangePasswordVM


<form method="post" asp-action="ChangePassword">
    @if (ViewBag.Errors.Count!=0)
    {
        <div class="text-danger">
            @foreach (var error in ViewBag.Errors)
            {
                <p>@error</p>
            }
        </div>
    }
    <input type="text" asp-for="@Model.Id" hidden/>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="border p-3 col-4">
        <div class="form-outline mb-4">
            <input type="password" id="CurrentPassword" class="form-control" asp-for="CurrentPassword"/>
            <label class="form-label" for="CurrentPassword">Current Password</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="Password" class="form-control" asp-for="NewPassword"/>
            <label class="form-label" for="NewPassword">New Password</label>
        </div>

        <div class="form-outline mb-4">
            <input type="password" id="ConfirmPassword" class="form-control" asp-for="ConfirmPassword"/>
            <label class="form-label" for="ConfirmPassword">Confirm password</label>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
    </div>
</form>
