@model PhotoBank.Models.Category
<div id="inputForm" v-cloak>
<form method="post" asp-action="Edit">
    <input asp-for="Id" hidden/>
    <div class="border p-3 col-8">
    @*    <div asp-validation-summary="All"></div>*@
        <div>
            <h2 class="text-info p-3">
                Edit category
            </h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-3">
                        <label asp-for="Name" class="form-label">Category name</label>
                    </div>
                    <div class="col-5">
                        <input asp-for="Name" type="text" class="form-control" ref="categoryName" v-on:blur="checkCategoryName()"/>
                        @*<input asp-for="Name" class="form-control"/>*@
                        @*<span asp-validation-for="Name" class="text-danger"></span>*@
                        <div>
                            <span v-if="errorList.find( errorList => errorList.name==='errorCategoryName')" class="text-danger">
                                {{errorList.find( errorList => errorList.name==='errorCategoryName').message}}
                            </span>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-8 offset-3 row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary" :disabled="errorList.length>0"  @@click="validateForm()"  ref="submit">Save</button>
                        </div>
                        <div class="col">
                            <a class="btn btn-success" asp-action="Index">Back</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4">
            </div>
        </div>
    </div>

</form>
</div>
@section Scripts
{
    <script src="/js/views/category/categoryformValidation.js" type="module"></script>
}
